In [88]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [89]:
li = ["abc", 34, 4.34, 23]

In [90]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [91]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]     # Second item in the tuple.

'abc'

In [92]:
li = ["abc", 34, 4.34, 23]
li[1]     # Second item in the list.

34

In [93]:
st = "Hello World"
st[1]   # Second character in string.

'e'

In [94]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [95]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [96]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1]

('abc', 4.56, (2, 3))

In [97]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1:2]

('abc', (2, 3))

In [98]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [99]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2:]

(4.56, (2, 3), 'def')

In [100]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [101]:
t = [1, 2, 4, 5]
3 in t

False

In [102]:
t = [1, 2, 4, 5]
4 in t

True

In [103]:
t = [1, 2, 4, 5]
4 not in t

False

In [104]:
a = 'abcde'
'c' in a

True

In [105]:
a = 'abcde'
'cd' in a

True

In [106]:
a = 'abcde'
'ac' in a

False

In [107]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [108]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [109]:
"Hello" + " " + "World"

'Hello World'